In [835]:
from tensorflow import keras
import pandas as pd

[auto_mpg 데이터 불러오기]

In [836]:
df_origin = pd.read_csv('auto-mpg.csv',sep = '\s+',header=None)

In [837]:
df = df_origin.copy()

In [838]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [839]:
df.columns= ['MPG','Cylinders','Displacement','Horsepower','Weight','Acceleration', 'Model Year', 'Origin','car name']

In [840]:
df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [841]:
df['Horsepower'].unique()

array(['130.0', '165.0', '150.0', '140.0', '198.0', '220.0', '215.0',
       '225.0', '190.0', '170.0', '160.0', '95.00', '97.00', '85.00',
       '88.00', '46.00', '87.00', '90.00', '113.0', '200.0', '210.0',
       '193.0', '?', '100.0', '105.0', '175.0', '153.0', '180.0', '110.0',
       '72.00', '86.00', '70.00', '76.00', '65.00', '69.00', '60.00',
       '80.00', '54.00', '208.0', '155.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [842]:
df.isna().sum()

MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model Year      0
Origin          0
car name        0
dtype: int64

전처리

In [843]:
df['Horsepower'].replace('?',0,inplace=True)
df['Horsepower'] = pd.to_numeric(df['Horsepower'])

In [844]:
import numpy as np
print(df['Horsepower'].mode())
print(np.mean(df['Horsepower']))

0    150.0
Name: Horsepower, dtype: float64
102.89447236180905

In [845]:
df['Horsepower'].replace(0,102,inplace=True)

In [846]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

인코딩

In [847]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df['car name'])
label = le.transform(df['car name'])
df['car name'] = label

In [848]:
df.drop('car name',axis=1, inplace=True)

data, target 분리

In [849]:
target = df['MPG']
data = df.drop('MPG',axis=1)

In [850]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data = scaler.fit_transform(data)

모델 생성

In [851]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_y,test_y = train_test_split(data,target,test_size=0.2,random_state=42)

In [852]:
train_X.shape

(318, 7)

In [853]:
df

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,2
395,32.0,4,135.0,84.0,2295.0,11.6,82,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [854]:
from keras import Sequential
from keras.layers import Dense

model = Sequential(name = 'auto_mpg')

In [855]:
l1 = Dense(30,activation = 'relu',input_shape=(7,))
l2 = Dense(5000,activation = 'relu')
l3 = Dense(5000,activation = 'relu')
l4 = Dense(1)

In [856]:
model.add(l1)
model.add(l2)
model.add(l3)
model.add(l4)

In [857]:
model.summary()

Model: "auto_mpg"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_119 (Dense)           (None, 30)                240

 dense_120 (Dense)           (None, 5000)              155000

 dense_121 (Dense)           (None, 5000)              25005000

 dense_122 (Dense)           (None, 1)                 5001

=================================================================
Total params: 25,165,241
Trainable params: 25,165,241
Non-trainable params: 0
_________________________________________________________________

In [862]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MPG           398 non-null    float64
 1   Cylinders     398 non-null    int64
 2   Displacement  398 non-null    float64
 3   Horsepower    398 non-null    float64
 4   Weight        398 non-null    float64
 5   Acceleration  398 non-null    float64
 6   Model Year    398 non-null    int64
 7   Origin        398 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 25.0 KB

In [858]:
model.compile(loss='mse', 
            optimizer='adam', 
            metrics=['mse'])

In [859]:
model.fit(train_X, train_y, epochs =100)

Epoch 1/100
10/10 [==============================] - 2s 124ms/step - loss: 250.0415 - mse: 250.0415
Epoch 2/100
10/10 [==============================] - 1s 112ms/step - loss: 40.5169 - mse: 40.5169
Epoch 3/100
10/10 [==============================] - 1s 121ms/step - loss: 30.2968 - mse: 30.2968
Epoch 4/100
10/10 [==============================] - 1s 115ms/step - loss: 20.8237 - mse: 20.8237
Epoch 5/100
10/10 [==============================] - 1s 110ms/step - loss: 19.0006 - mse: 19.0006
Epoch 6/100
10/10 [==============================] - 1s 120ms/step - loss: 17.3372 - mse: 17.3372
Epoch 7/100
10/10 [==============================] - 1s 116ms/step - loss: 14.8893 - mse: 14.8893
Epoch 8/100
10/10 [==============================] - 1s 118ms/step - loss: 14.8530 - mse: 14.8530
Epoch 9/100
10/10 [==============================] - 1s 124ms/step - loss: 13.4155 - mse: 13.4155
Epoch 10/100
10/10 [==============================] - 1s 133ms/step - loss: 14.1182 - mse: 14.1182
Epoch 11/100
10/10 [==============================] - 1s 124ms/step - loss: 12.8302 - mse: 12.8302
Epoch 12/100
10/10 [==============================] - 1s 116ms/step - loss: 11.1505 - mse: 11.1505
Epoch 13/100
10/10 [==============================] - 1s 116ms/step - loss: 11.5003 - mse: 11.5003
Epoch 14/100
10/10 [==============================] - 1s 134ms/step - loss: 11.5532 - mse: 11.5532
Epoch 15/100
10/10 [==============================] - 1s 131ms/step - loss: 9.8918 - mse: 9.8918
Epoch 16/100
10/10 [==============================] - 1s 122ms/step - loss: 9.6900 - mse: 9.6900
Epoch 17/100
10/10 [==============================] - 1s 111ms/step - loss: 10.0759 - mse: 10.0759
Epoch 18/100
10/10 [==============================] - 1s 118ms/step - loss: 11.2299 - mse: 11.2299
Epoch 19/100
10/10 [==============================] - 1s 124ms/step - loss: 10.0023 - mse: 10.0023
Epoch 20/100
10/10 [==============================] - 1s 124ms/step - loss: 8.7694 - mse: 8.7694
Epoch 21/100
10/10 [==============================] - 1s 110ms/step - loss: 9.1170 - mse: 9.1170
Epoch 22/100
10/10 [==============================] - 1s 115ms/step - loss: 9.3027 - mse: 9.3027
Epoch 23/100
10/10 [==============================] - 1s 118ms/step - loss: 7.9963 - mse: 7.9963
Epoch 24/100
10/10 [==============================] - 1s 138ms/step - loss: 8.0108 - mse: 8.0108
Epoch 25/100
10/10 [==============================] - 1s 116ms/step - loss: 7.8028 - mse: 7.8028
Epoch 26/100
10/10 [==============================] - 1s 131ms/step - loss: 7.7450 - mse: 7.7450
Epoch 27/100
10/10 [==============================] - 1s 111ms/step - loss: 8.8075 - mse: 8.8075
Epoch 28/100
10/10 [==============================] - 1s 126ms/step - loss: 9.0923 - mse: 9.0923
Epoch 29/100
10/10 [==============================] - 1s 113ms/step - loss: 8.5635 - mse: 8.5635
Epoch 30/100
10/10 [==============================] - 1s 117ms/step - loss: 8.7675 - mse: 8.7675
Epoch 31/100
10/10 [==============================] - 1s 110ms/step - loss: 8.5743 - mse: 8.5743
Epoch 32/100
10/10 [==============================] - 1s 115ms/step - loss: 11.1613 - mse: 11.1613
Epoch 33/100
10/10 [==============================] - 1s 109ms/step - loss: 9.3346 - mse: 9.3346
Epoch 34/100
10/10 [==============================] - 1s 111ms/step - loss: 7.8086 - mse: 7.8086
Epoch 35/100
10/10 [==============================] - 1s 116ms/step - loss: 6.9426 - mse: 6.9426
Epoch 36/100
10/10 [==============================] - 1s 116ms/step - loss: 7.0937 - mse: 7.0937
Epoch 37/100
10/10 [==============================] - 1s 108ms/step - loss: 7.7215 - mse: 7.7215
Epoch 38/100
10/10 [==============================] - 1s 119ms/step - loss: 7.2878 - mse: 7.2878
Epoch 39/100
10/10 [==============================] - 1s 134ms/step - loss: 6.4591 - mse: 6.4591
Epoch 40/100
10/10 [==============================] - 2s 156ms/step - loss: 7.9135 - mse: 7.9135
Epoch 41/100
10/10 [==============================] - 1s 131ms/step - loss: 7.2427 - mse: 7.2427
Epoch 42/100
10/10 [==============================] - 1s 129ms/step - loss: 7.7388 - mse: 7.7388
Epoch 43/100
10/10 [==============================] - 1s 149ms/step - loss: 8.2238 - mse: 8.2238
Epoch 44/100
10/10 [==============================] - 1s 123ms/step - loss: 8.8421 - mse: 8.8421
Epoch 45/100
10/10 [==============================] - 1s 122ms/step - loss: 8.0092 - mse: 8.0092
Epoch 46/100
10/10 [==============================] - 1s 118ms/step - loss: 8.8530 - mse: 8.8530
Epoch 47/100
10/10 [==============================] - 1s 135ms/step - loss: 6.5754 - mse: 6.5754
Epoch 48/100
10/10 [==============================] - 1s 130ms/step - loss: 6.4214 - mse: 6.4214
Epoch 49/100
10/10 [==============================] - 1s 135ms/step - loss: 6.9471 - mse: 6.9471
Epoch 50/100
10/10 [==============================] - 1s 133ms/step - loss: 6.6545 - mse: 6.6545
Epoch 51/100
10/10 [==============================] - 1s 137ms/step - loss: 6.3333 - mse: 6.3333
Epoch 52/100
10/10 [==============================] - 1s 134ms/step - loss: 5.8987 - mse: 5.8987
Epoch 53/100
10/10 [==============================] - 1s 130ms/step - loss: 6.1663 - mse: 6.1663
Epoch 54/100
10/10 [==============================] - 2s 151ms/step - loss: 6.3971 - mse: 6.3971
Epoch 55/100
10/10 [==============================] - 1s 138ms/step - loss: 6.0640 - mse: 6.0640
Epoch 56/100
10/10 [==============================] - 1s 132ms/step - loss: 5.7970 - mse: 5.7970
Epoch 57/100
10/10 [==============================] - 1s 145ms/step - loss: 5.9402 - mse: 5.9402
Epoch 58/100
10/10 [==============================] - 2s 164ms/step - loss: 6.0155 - mse: 6.0155
Epoch 59/100
10/10 [==============================] - 2s 169ms/step - loss: 6.6567 - mse: 6.6567
Epoch 60/100
10/10 [==============================] - 2s 150ms/step - loss: 5.8247 - mse: 5.8247
Epoch 61/100
10/10 [==============================] - 1s 144ms/step - loss: 6.1014 - mse: 6.1014
Epoch 62/100
10/10 [==============================] - 1s 122ms/step - loss: 5.8399 - mse: 5.8399
Epoch 63/100
10/10 [==============================] - 1s 140ms/step - loss: 5.5683 - mse: 5.5683
Epoch 64/100
10/10 [==============================] - 1s 150ms/step - loss: 5.4239 - mse: 5.4239
Epoch 65/100
10/10 [==============================] - 2s 149ms/step - loss: 5.5710 - mse: 5.5710
Epoch 66/100
10/10 [==============================] - 2s 162ms/step - loss: 6.4196 - mse: 6.4196
Epoch 67/100
10/10 [==============================] - 2s 154ms/step - loss: 7.0436 - mse: 7.0436
Epoch 68/100
10/10 [==============================] - 1s 126ms/step - loss: 5.6315 - mse: 5.6315
Epoch 69/100
10/10 [==============================] - 1s 146ms/step - loss: 5.4897 - mse: 5.4897
Epoch 70/100
10/10 [==============================] - 2s 153ms/step - loss: 5.5124 - mse: 5.5124
Epoch 71/100
10/10 [==============================] - 1s 138ms/step - loss: 5.0517 - mse: 5.0517
Epoch 72/100
10/10 [==============================] - 1s 129ms/step - loss: 5.0795 - mse: 5.0795
Epoch 73/100
10/10 [==============================] - 1s 146ms/step - loss: 6.2597 - mse: 6.2597
Epoch 74/100
10/10 [==============================] - 1s 137ms/step - loss: 5.3154 - mse: 5.3154
Epoch 75/100
10/10 [==============================] - 1s 129ms/step - loss: 5.0521 - mse: 5.0521
Epoch 76/100
10/10 [==============================] - 1s 121ms/step - loss: 5.6647 - mse: 5.6647
Epoch 77/100
10/10 [==============================] - 1s 131ms/step - loss: 5.7534 - mse: 5.7534
Epoch 78/100
10/10 [==============================] - 1s 146ms/step - loss: 5.2336 - mse: 5.2336
Epoch 79/100
10/10 [==============================] - 1s 135ms/step - loss: 5.2805 - mse: 5.2805
Epoch 80/100
10/10 [==============================] - 1s 121ms/step - loss: 6.0082 - mse: 6.0082
Epoch 81/100
10/10 [==============================] - 1s 125ms/step - loss: 8.1161 - mse: 8.1161
Epoch 82/100
10/10 [==============================] - 1s 120ms/step - loss: 6.2868 - mse: 6.2868
Epoch 83/100
10/10 [==============================] - 1s 118ms/step - loss: 6.4449 - mse: 6.4449
Epoch 84/100
10/10 [==============================] - 1s 117ms/step - loss: 5.2793 - mse: 5.2793
Epoch 85/100
10/10 [==============================] - 1s 113ms/step - loss: 5.2046 - mse: 5.2046
Epoch 86/100
10/10 [==============================] - 1s 119ms/step - loss: 5.7380 - mse: 5.7380
Epoch 87/100
10/10 [==============================] - 1s 119ms/step - loss: 5.0537 - mse: 5.0537
Epoch 88/100
10/10 [==============================] - 1s 112ms/step - loss: 4.8839 - mse: 4.8839
Epoch 89/100
10/10 [==============================] - 1s 137ms/step - loss: 5.1904 - mse: 5.1904
Epoch 90/100
10/10 [==============================] - 1s 113ms/step - loss: 5.7048 - mse: 5.7048
Epoch 91/100
10/10 [==============================] - 1s 123ms/step - loss: 4.8883 - mse: 4.8883
Epoch 92/100
10/10 [==============================] - 1s 114ms/step - loss: 5.0640 - mse: 5.0640
Epoch 93/100
10/10 [==============================] - 1s 150ms/step - loss: 5.4920 - mse: 5.4920
Epoch 94/100
10/10 [==============================] - 1s 131ms/step - loss: 5.4421 - mse: 5.4421
Epoch 95/100
10/10 [==============================] - 1s 118ms/step - loss: 5.8911 - mse: 5.8911
Epoch 96/100
10/10 [==============================] - 1s 122ms/step - loss: 4.6511 - mse: 4.6511
Epoch 97/100
10/10 [==============================] - 1s 114ms/step - loss: 4.8226 - mse: 4.8226
Epoch 98/100
10/10 [==============================] - 1s 142ms/step - loss: 4.8166 - mse: 4.8166
Epoch 99/100
10/10 [==============================] - 1s 148ms/step - loss: 4.5669 - mse: 4.5669
Epoch 100/100
10/10 [==============================] - 1s 131ms/step - loss: 4.6653 - mse: 4.6653

In [860]:
loss, accuracy = model.evaluate(test_X, test_y)

3/3 [==============================] - 0s 30ms/step - loss: 7.2557 - mse: 7.2557

In [861]:
print("loss = {:.2f}".format(loss))

loss = 7.26